requirements.txt
settings.ini
__pycache__
api/__pycache__/authhandler.cpython-38.pyc
api/__pycache__/main.cpython-38.pyc
api/__pycache__/postgresconnector.cpython-38.pyc
api/__pycache__/models.cpython-38.pyc
